body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background-color: #f5f5f5;
  padding: 60px 60px;
  justify-content: center;

}

.home-button {
    margin-left: 20px;
    
}
.cover-order {
  width: 70%;
  height: auto;
  padding-top: 1%;
  margin: auto;
  display: flex;
  
}
