body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

.main-header {
  display: flex;  
  align-items: center;            
  background-color: #f5f5f5;
  padding: 50px 60px; 
  justify-content: center;  
  
}


.logo {
  display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center;
}

.logo h1 {
  font-family: fantasy;
  font-size: 20px;
  color: #333;
  margin: 5px 0 0 0;
}


.cover_photo {
  width: 70%;
  height: auto;
  padding-top: 1%;
  margin: auto;
  display: flex;
  
}


